@model LDsMovie.Models.Movie

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Movie</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
   
    <hr />


    <div class="alert alert-danger col-7">


        <h4 class="mb-0">
            <span>
                <b>
                    @Html.DisplayNameFor(model => model.Title):
                </b>  @Html.DisplayFor(model => model.Title)
            </span>
        </h4> <hr />


        <h4 class="mb-0">
            <span>
                <b>
                    @Html.DisplayNameFor(model => model.ReleaseDate):
                </b>  @Html.DisplayFor(model => model.ReleaseDate)
            </span>
        </h4> <hr />


        <h4 class="mb-0">
            <span>
                <b>
                    @Html.DisplayNameFor(model => model.Genre):
                </b>  @Html.DisplayFor(model => model.Genre)
            </span>
        </h4> <hr />


        <h4 class="mb-0">
            <span>
                <b>
                    @Html.DisplayNameFor(model => model.Price):
                </b>  @Html.DisplayFor(model => model.Price)
            </span>
        </h4>






        @*<dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Genre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Genre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
        </dl>*@

    </div>

    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
    </form>
</div>
