@model LDsMovie.Models.MovieGenre

@{
    ViewData["Title"] = "Index";
}

<h2>Movie List</h2>

<form class="form-inline my-2" asp-controller="Movies" asp-action="Index">

    <select class="form-control mr-sm-1" asp-for="SearchGenre" asp-items="Model.Genres">
        <option value="">All</option>
    </select>

    <input class="form-control mr-sm-1" type="text" name="searchTitle" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" value="Filter" type="submit">Search</button>
</form><hr />

<table class="table table-hover table-bordered table-info">
    <thead>
        <tr>
            <th scope="col">

                @Html.DisplayNameFor(model => model.Movies[0].Title)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Movies[0].ReleaseDate)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Movies[0].Genre)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Movies[0].Price)
            </th>

            <th scope="col">
                <a class="label-success" asp-action="Create">Create New</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies)
        {
            <tr class="table table-bordered table-success">
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                   @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn-success btn" asp-action="Create">Create New</a>
<a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Back</a>

